loanpredictor/data/SBAGuidelines.pdf
loanpredictor/data/SBAnational.csv
loanpredictor/data/inflation.csv
loanpredictor/data/unemployment.csv
loanpredictor/data/zips.csv
loanpredictor/data/loan-predictor.json
loanpredictor/data/cleaned_sba.csv
loanpredictor/data/cold_load.csv
