<!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
            <a href="https://www.kaggle.com/ricardocolindres" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-dribbble"></span>
            </a>
            <a href="https://twitter.com/richy2993" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-twitter"></span>
            </a>
            <a href="https://github.com/ricardocolindres" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-github"></span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="w-100 p-3 mx-auto text-center mt-1">
            <p class="mb-0 text-secondary">
              &copy; <a href="https://github.com/ricardocolindres" class="text-muted" target="_blank">
                The following web app provides a machine learning model 
                to categorize the risk that a small business has of defaulting on a loan 
                secured by the United States Small Business Administration (SBA). 
                This system was NOT commissioned by the SBA but is rather a personal project with a ML model trained
                on real data publicly made available by the SBA from all loans disbursed from 1984 to 2014. Templates adapted from Creative Tim Soft UI Dashboard.  
                </a> - project coded by Ricardo Colindres.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->